{
  "arrowParens": "always",
  "printWidth": 200,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "auto",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
